# Default ignored files
/../../binary-search /.idea/shelf/
/../../binary-search /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../binary-search /.idea/httpRequests/
# Datasource local storage ignored files
/../../binary-search /.idea/dataSources/
/../../binary-search /.idea/dataSources.local.xml
